In [1]:
import pandas as pd
from wakeful import log_munger

In [2]:
%pwd

'/Users/rob/Google_Drive/Datascience/Galvanize/Project/wakeful_proj'

### Build the Normal Data Set

In [3]:
norm_path = './data/home/2018-01-01'

In [4]:
dns_norm_df = log_munger.bro_logs_to_df(norm_path, 'dns');

Successfully monitoring ./data/home/2018-01-01/dns.03:00:00-04:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.16:00:00-17:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.12:00:00-13:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.11:00:00-12:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.15:00:00-16:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.17:00:00-18:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.08:00:00-09:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.14:00:00-15:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.10:00:00-11:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.19:00:00-20:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.02:00:00-03:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.06:00:00-07:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.20:00:00-21:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.09:00:00-10:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.21:00:00-22:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.13:00:00-14:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.23:00:00-00:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.18:00:00-19:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.00:00:00-01:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.04:00:00-05:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.22:00:00-23:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.07:00:00-08:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.05:00:00-06:00:00.log...
Successfully monitoring ./data/home/2018-01-01/dns.01:00:00-02:00:00.log...

In [5]:
print(dns_norm_df.shape)

(34789, 23)

In [6]:
dns_norm_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34789 entries, 2017-12-31 20:00:06.032915 to 2017-12-31 18:59:50.455547
Data columns (total 23 columns):
AA             34789 non-null bool
RA             34789 non-null bool
RD             34789 non-null bool
TC             34789 non-null bool
TTLs           34789 non-null object
Z              34789 non-null int64
answers        34789 non-null object
id.orig_h      34789 non-null object
id.orig_p      34789 non-null int64
id.resp_h      34789 non-null object
id.resp_p      34789 non-null int64
proto          34789 non-null object
qclass         34789 non-null int64
qclass_name    34789 non-null object
qtype          34789 non-null int64
qtype_name     34789 non-null object
query          34789 non-null object
rcode          34789 non-null int64
rcode_name     34789 non-null object
rejected       34789 non-null bool
rtt            34789 non-null timedelta64[ns]
trans_id       34789 non-null int64
uid            34789 non-null object
dtypes: bool(5), int64(7), object(10), timedelta64[ns](1)
memory usage: 5.2+ MB

In [7]:
conn_norm_df = log_munger.bro_logs_to_df(norm_path, 'conn');

Successfully monitoring ./data/home/2018-01-01/conn.12:00:00-13:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.16:00:00-17:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.03:00:00-04:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.08:00:00-09:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.10:00:00-11:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.14:00:00-15:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.19:00:00-20:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.15:00:00-16:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.11:00:00-12:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.17:00:00-18:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.21:00:00-22:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.13:00:00-14:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.23:00:00-00:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.20:00:00-21:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.06:00:00-07:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.02:00:00-03:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.09:00:00-10:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.07:00:00-08:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.01:00:00-02:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.05:00:00-06:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.18:00:00-19:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.22:00:00-23:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.04:00:00-05:00:00.log...
Successfully monitoring ./data/home/2018-01-01/conn.00:00:00-01:00:00.log...

In [8]:
conn_norm_df.shape

(58264, 23)

In [9]:
conn_norm_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 58264 entries, 2018-01-01 04:58:54.140342 to 2017-12-31 17:58:57.102639
Data columns (total 23 columns):
conn_state        58264 non-null object
duration          58264 non-null timedelta64[ns]
history           58264 non-null object
id.orig_h         58264 non-null object
id.orig_p         58264 non-null int64
id.resp_h         58264 non-null object
id.resp_p         58264 non-null int64
local_orig        58264 non-null bool
local_resp        58264 non-null bool
missed_bytes      58264 non-null int64
orig_bytes        58264 non-null int64
orig_cc           58264 non-null object
orig_ip_bytes     58264 non-null int64
orig_pkts         58264 non-null int64
proto             58264 non-null object
resp_bytes        58264 non-null int64
resp_cc           58264 non-null object
resp_ip_bytes     58264 non-null int64
resp_pkts         58264 non-null int64
sensorname        58264 non-null object
service           58264 non-null object
tunnel_parents    58264 non-null object
uid               58264 non-null object
dtypes: bool(2), int64(9), object(11), timedelta64[ns](1)
memory usage: 9.9+ MB

In [10]:
dns_norm_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 34789 entries, 2017-12-31 20:00:06.032915 to 2017-12-31 18:59:50.455547
Data columns (total 23 columns):
AA             34789 non-null bool
RA             34789 non-null bool
RD             34789 non-null bool
TC             34789 non-null bool
TTLs           34789 non-null object
Z              34789 non-null int64
answers        34789 non-null object
id.orig_h      34789 non-null object
id.orig_p      34789 non-null int64
id.resp_h      34789 non-null object
id.resp_p      34789 non-null int64
proto          34789 non-null object
qclass         34789 non-null int64
qclass_name    34789 non-null object
qtype          34789 non-null int64
qtype_name     34789 non-null object
query          34789 non-null object
rcode          34789 non-null int64
rcode_name     34789 non-null object
rejected       34789 non-null bool
rtt            34789 non-null timedelta64[ns]
trans_id       34789 non-null int64
uid            34789 non-null object
dtypes: bool(5), int64(7), object(10), timedelta64[ns](1)
memory usage: 5.2+ MB

In [11]:
dns_norm_df.head(5)

,AA,RA,RD,TC,TTLs,Z,answers,id.orig_h,id.orig_p,id.resp_h,...,qclass_name,qtype,qtype_name,query,rcode,rcode_name,rejected,rtt,trans_id,uid
ts,,,,,,,,,,,,,,,,,,,,,
2017-12-31 20:00:06.032915,True,False,False,False,"120.000000,120.000000,120.000000,120.000000",0,"dvr-40e5.local,dvr-40e5.local,192.168.1.222,dv...",192.168.1.222,5353,224.0.0.251,...,C_INTERNET,33,SRV,clearwater beach._tivo-mindrpc._tcp.local,0,NOERROR,False,00:00:00.101251,0,C1iQkS2Sq7qiVN9kBb
2017-12-31 20:00:19.509455,False,False,True,False,-,0,-,192.168.1.165,41584,192.168.1.1,...,C_INTERNET,1,A,unifi.lan,3,NXDOMAIN,True,00:00:00,37655,C98LABabuv5cCGh
2017-12-31 20:00:19.510058,False,False,True,False,-,0,-,192.168.1.165,41584,192.168.1.1,...,C_INTERNET,1,A,unifi,0,NOERROR,True,00:00:00,954,C98LABabuv5cCGh
2017-12-31 20:00:36.804192,False,True,True,False,"41.000000,41.000000",0,"52.0.132.165,52.0.53.222",192.168.1.117,58913,192.168.1.1,...,C_INTERNET,1,A,scss-prod-ue1-notif-1.adobesc.com,0,NOERROR,False,00:00:00.013655,59504,C5uGiw3bW4Oakd7uMd
2017-12-31 20:00:49.559493,False,False,True,False,-,0,-,192.168.1.165,41584,192.168.1.1,...,C_INTERNET,1,A,unifi.lan,3,NXDOMAIN,True,00:00:00,12483,CFFkJi38UxaV1a9uEl

In [12]:
conn_norm_df.head(5)

,conn_state,duration,history,id.orig_h,id.orig_p,id.resp_h,id.resp_p,local_orig,local_resp,missed_bytes,...,orig_pkts,proto,resp_bytes,resp_cc,resp_ip_bytes,resp_pkts,sensorname,service,tunnel_parents,uid
ts,,,,,,,,,,,,,,,,,,,,,
2018-01-01 04:58:54.140342,S0,00:00:00,D,192.168.1.165,47423,255.255.255.255,10001,True,False,0,...,1,udp,0,-,0,0,forest-eth1,-,(empty),CojVJW2fwooUclqrnf
2018-01-01 04:59:04.142503,S0,00:00:00,D,192.168.1.165,40999,255.255.255.255,10001,True,False,0,...,1,udp,0,-,0,0,forest-eth1,-,(empty),CGWiAx4QhCKIL8TwPk
2018-01-01 04:59:21.396541,SF,00:00:40.233652,ShADadFRRf,192.168.1.117,60424,52.0.132.165,443,True,False,0,...,13,tcp,486,US,962,9,forest-eth1,ssl,(empty),Cr0KLv4rB2i9AWAUHd
2018-01-01 04:55:42.589811,RSTOS0,00:04:19.291746,DdAFR,192.168.1.240,40649,192.168.1.241,7736,True,True,0,...,4,tcp,74,-,178,2,forest-eth1,-,(empty),CgBuue3fU1hp2p70b9
2018-01-01 05:00:02.199584,SF,00:00:00.038233,ShADadFf,192.168.1.240,57690,192.168.1.241,4506,True,True,0,...,9,tcp,1398,-,1822,8,forest-eth1,-,(empty),CIlOaN21U4o0xQEX5k

### Merge Conn and DNS logs

In [13]:
norm_df = pd.merge(dns_norm_df, conn_norm_df, on='uid')

In [14]:
norm_df.shape

(34789, 45)

In [15]:
norm_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34789 entries, 0 to 34788
Data columns (total 45 columns):
AA                34789 non-null bool
RA                34789 non-null bool
RD                34789 non-null bool
TC                34789 non-null bool
TTLs              34789 non-null object
Z                 34789 non-null int64
answers           34789 non-null object
id.orig_h_x       34789 non-null object
id.orig_p_x       34789 non-null int64
id.resp_h_x       34789 non-null object
id.resp_p_x       34789 non-null int64
proto_x           34789 non-null object
qclass            34789 non-null int64
qclass_name       34789 non-null object
qtype             34789 non-null int64
qtype_name        34789 non-null object
query             34789 non-null object
rcode             34789 non-null int64
rcode_name        34789 non-null object
rejected          34789 non-null bool
rtt               34789 non-null timedelta64[ns]
trans_id          34789 non-null int64
uid               34789 non-null object
conn_state        34789 non-null object
duration          34789 non-null timedelta64[ns]
history           34789 non-null object
id.orig_h_y       34789 non-null object
id.orig_p_y       34789 non-null int64
id.resp_h_y       34789 non-null object
id.resp_p_y       34789 non-null int64
local_orig        34789 non-null bool
local_resp        34789 non-null bool
missed_bytes      34789 non-null int64
orig_bytes        34789 non-null int64
orig_cc           34789 non-null object
orig_ip_bytes     34789 non-null int64
orig_pkts         34789 non-null int64
proto_y           34789 non-null object
resp_bytes        34789 non-null int64
resp_cc           34789 non-null object
resp_ip_bytes     34789 non-null int64
resp_pkts         34789 non-null int64
sensorname        34789 non-null object
service           34789 non-null object
tunnel_parents    34789 non-null object
dtypes: bool(7), int64(16), object(20), timedelta64[ns](2)
memory usage: 10.6+ MB

In [16]:
norm_df.to_hdf('./data/home/dns_and_conn_20180101.h5', 'test', complevel=9, complib='zlib')

In [17]:
!ls -lh ./data/home/*.h5

-rw-------  1 rob  staff    45M Jan 16 10:35 ./data/home/dns_and_conn_20180101.h5
-rw-r--r--  1 rob  staff   9.8M Jan 16 10:14 ./data/home/dns_conn_labeled_20180101.h5
-rw-------  1 rob  staff    24M Jan 16 10:09 ./data/home/key_to_finding_data.h5

### Round-trip from DF --> HDF5 --> DF

In [18]:
key = 'key_to_finding_data'
log_munger.df_to_hdf5(norm_df, key, './data/home/')

In [19]:
data_dir = './data/home'
df = log_munger.hdf5_to_df(key, data_dir)

In [20]:
df.equals(norm_df)

True

### Build the Malicious Data Set

In [21]:
mal_dns_df = log_munger.bro_logs_to_df('./data/c2', 'dns')
mal_conn_df = log_munger.bro_logs_to_df('./data/c2', 'conn')

Successfully monitoring ./data/c2/iodine-raw/dns.log...
Successfully monitoring ./data/c2/iodine-forwarded/dns.log...
Successfully monitoring ./data/c2/dnscat2/dns.log...
Successfully monitoring ./data/c2/iodine-raw/conn.log...
Successfully monitoring ./data/c2/icmptunnel/conn.log...
Successfully monitoring ./data/c2/iodine-forwarded/conn.log...
Successfully monitoring ./data/c2/dnscat2/conn.log...
Successfully monitoring ./data/c2/ptunnel/conn.log...

In [22]:
mal_df = pd.merge(mal_dns_df, mal_conn_df, on='uid')

In [23]:
mal_dns_df.shape, mal_conn_df.shape, mal_df.shape

((3445, 22), (3459, 20), (3445, 41))

### Label the Data Sets

In [24]:
norm_df['label'] = 0
mal_df['label'] = 1

### Remove Inconsistent Columns

In [25]:
mal_col_set = set(mal_df.columns)
norm_col_set = set(norm_df.columns)

In [26]:
norm_columns_not_in_mal = {col_n for col_n in norm_col_set if col_n not in mal_col_set}
norm_columns_not_in_mal, norm_df.shape, mal_df.shape

({'orig_cc', 'resp_cc', 'rtt', 'sensorname'}, (34789, 46), (3445, 42))

In [27]:
mal_columns_not_in_norm = {col_m for col_m in mal_col_set if col_m not in norm_col_set}
mal_columns_not_in_norm, norm_df.shape, mal_df.shape

(set(), (34789, 46), (3445, 42))

In [28]:
mal_df = mal_df.drop(mal_columns_not_in_norm, axis=1)
norm_df = norm_df.drop(norm_columns_not_in_mal, axis=1)

In [29]:
norm_df.shape, mal_df.shape

((34789, 42), (3445, 42))

### Combine Labeled Data Sets

In [30]:
df = norm_df.append(mal_df)

In [31]:
df.shape

(38234, 42)

### Engineer Features

In [32]:
df['pcr'] = log_munger.calc_pcr(df)
df.shape

(38234, 43)

### Save the Combined Labeled Data Set

In [33]:
key = 'dns_conn_labeled_20180101'
log_munger.df_to_hdf5(df, key, './data/home/')

In [34]:
!ls -lh ./data/home/*.h5

-rw-------  1 rob  staff    45M Jan 16 10:35 ./data/home/dns_and_conn_20180101.h5
-rw-r--r--  1 rob  staff    18M Jan 16 10:47 ./data/home/dns_conn_labeled_20180101.h5
-rw-------  1 rob  staff    31M Jan 16 10:46 ./data/home/key_to_finding_data.h5

### Rebalance Minority Class

In [35]:
# from sklearn.model_selection import train_test_split
# train, test = train_test_split(df, random_state=37, test_size=0.5)
bal_df = log_munger.rebalance(df, column_name='label')
df.shape, bal_df.shape

(1703, 43) (17414, 43)

((38234, 43), (34828, 43))

In [ ]:
from sklearn.utils import resample
train_minority_resampled = resample(train_minority,
                                replace=True,
                                random_state=37,
                                n_samples=len(train_majority))

In [ ]:
train_minority.shape, train_minority_resampled.shape

In [ ]:
train_resampled = train_majority.append(train_minority_resampled)
train_resampled.shape

In [ ]:
X_train = train_resampled.copy(deep=True)

In [ ]:
y_train = X_train.pop('label')
y_train.shape, X_train.shape

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
corr = X_train.corr()

In [ ]:
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

In [ ]:
f, ax = plt.subplots(figsize=(16, 12))
sns.set(style='white')
cmap = sns.diverging_palette(220, 10, as_cmap=True)
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=3, 
            center=0, square=True, linewidths=.5, 
            cbar_kws={'shrink': .5})

### Clustering

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
from sklearn import metrics

In [ ]:
numerics = X_train.copy(deep=True)
numerics = numerics.drop(['TTLs', 'answers', 'conn_state', 'history', 'id.orig_h_x', 
                          'id.orig_h_y', 'id.resp_h_x', 'id.resp_h_y', 'proto_x', 'proto_y',
                          'qclass_name', 'qtype_name', 'query', 'rcode_name', 'service', 'tunnel_parents',
                          'uid'], axis=1)

In [ ]:
X = StandardScaler().fit_transform(X)
db = DBSCAN(eps=0.3, min_samples=10).fit(X)

### SVD and Logistic Regression

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import decomposition
from sklearn import linear_model

In [ ]:
scaler = StandardScaler()
svd = decomposition.TruncatedSVD(n_components=15, random_state=37, n_iter=10)
logistic = linear_model.LogisticRegression()
pca = decomposition.PCA(n_components=10, random_state=37)

pipeline = Pipeline(steps=[('scaler', scaler), ('pca', pca)])  #, ('svd', svd), ('logistic', logistic)

In [ ]:
numerics = X_train.copy(deep=True)
numerics = numerics.drop(['TTLs', 'answers', 'conn_state', 'history', 'id.orig_h_x', 
                          'id.orig_h_y', 'id.resp_h_x', 'id.resp_h_y', 'proto_x', 'proto_y',
                          'qclass_name', 'qtype_name', 'query', 'rcode_name', 'service', 'tunnel_parents',
                          'uid'], axis=1)

In [ ]:
# Convert timedeltas to seconds
numerics = numerics.drop(['duration'], axis=1)

In [ ]:
x_temp = numerics.values
type(numerics), type(x_temp), x_temp.shape

In [ ]:
numerics.info()

In [ ]:
# get the data
X_digits = numerics.values
y_digits = y_train.values

In [ ]:
type(X_digits)

In [ ]:
X_digits[1:5, :].T

In [ ]:
row = X_digits[0, :]
print(row)
for i in range(X_digits.shape[1]):
    print(type(X_digits[:, i]))

In [ ]:
indx = np.where(np.isnan(X_digits))

In [ ]:

# Plot the PCA spectrum
pca.fit(X_digits)

plt.figure(1, figsize=(4, 3))
plt.clf()
plt.axes([.2, .2, .7, .7])
plt.plot(svd.explained_variance_, linewidth=2)
plt.axis('tight')
plt.xlabel('n_components')
plt.ylabel('explained_variance_')

# Prediction
n_components = [20, 40, 64]
Cs = np.logspace(-4, 4, 3)

# Parameters of pipelines can be set using ‘__’ separated parameter names:
estimator = GridSearchCV(pipe,
                         dict(svd__n_components=n_components,
                              logistic__C=Cs))
estimator.fit(X_digits, y_digits)

plt.axvline(estimator.best_estimator_.named_steps['svd'].n_components,
            linestyle=':', label='n_components chosen')
plt.legend(prop=dict(size=12))
plt.show()